body { font-family:'Arial'; font-size: 12px; background:url(../images/background-2.png) repeat-y 50% 0; }

.container {
	background:#eee; margin-top:15px; padding:0; background:url(../images/background-2.png) repeat-y 50% -15px;
	@include screen(ld) { width:1100px; }
	@include screen(xs) { margin:0; }
	/* background:white; padding:15px; */
}

a, a:hover { color:inherit; text-decoration:inherit; }

.row, [class*="col-"] {
  margin:0; padding:0;
}
.column-left {float:left;}
.column-right {float:right;}

.section-featured .column-left { width:37.5%; }
.section-featured .column-right { width:62.5%; }
@media (min-width: 768px) and (max-width: 992px) {
	.section-featured .column-left { width:66.66%; }
	.section-featured .column-right { width:33.33%; }
}
@media (max-width: 768px) {
	.section-featured .column-left { width:66.66%; }
	.section-featured .column-right { width:33.33%;}
}

*::-webkit-input-placeholder { color:inherit; opacity:.6; }
*:-moz-placeholder { color:inherit; opacity:.6; }
*::-moz-placeholder { color:inherit; opacity:.6; }
*:-ms-input-placeholder { color:inherit; opacity:.6; }

.column-content { margin-top:15px; }