@import 'bootstrap.scss';
@import 'reset.css';
@import '../fonts/opensans-condbold.css';

$title-font-family: 'opensans-condbold';
$primary-color: #214f8e;
$secondary-color: gray;

@mixin reset { padding:0; margin:0; line-height:1.25em; }
@mixin title { font-family: $title-font-family; font-weight:bold; text-transform:uppercase; color: $primary-color; margin:0; padding:0; line-height:1em; }
@mixin section-shadow { 
	/* box-shadow:0 0 10px -4px gray; border:solid 1px #ddd; */
	box-shadow: 0 6px 6px -6px rgba(22,33,44,.2);
}
@mixin box-shadow { 
	box-shadow: 0 6px 6px -6px rgba(22,33,44,1);
}

@import 'base.scss';
@import 'errors.scss';
@import 'form.scss';
@import 'header.scss';
@import 'footer.scss';
@import 'sidebar.scss';
@import 'home.scss';
@import 'single.scss';
@import 'search.scss';
@import 'category.scss';
@import 'page.scss';
@import 'members.scss';
@import 'suppliers.scss';