  #sidebar-fiches .logo_supplier {
    float: left;
    width: 49%;
    background: white;
    height: 65px;
    margin-bottom: 2%;
    display: block;
    background-size: 87% auto;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-transition:all 0.3s ease;
    transition:all 0.3s ease;
    color: #214f8e;
    padding-top: 16px;
    font-family: 'opensans-condbold';
    text-transform: uppercase;
    }


  #sidebar-fiches .logo_supplier[title="Pierre Fabre Médicament - Supercritical Fluids Division"]{
    background-size: 75% auto;
  }
  #sidebar-fiches .logo_supplier[title="Préiso"]{
    background-size: 34% auto;
  }
  #sidebar-fiches .logo_supplier:hover {
    opacity: 0.5;
  }
  #sidebar-fiches .logo_supplier:nth-child(2n+1) {
    margin-right: 2%;
  }
  #sidebar-fiches .logo_supplier IMG{
    display: none;
  }

a.link {
  text-decoration: underline;
}

a.link:hover {
  text-decoration: none;
}

.alignleft {
  float: left;
  margin: 0 1em 0.8em 0;
}

.alignright {
  float: right;
  margin: 0 0 0.8em 1em;
}


.nl-header {
  display: none;
}
@media all and (min-width: 900px) {
  .nl-header {
    display: block;
    float: left;
    overflow: hidden;
    margin-top: 20px;
    margin-left: 120px;
    width:250px;
  }

  .nl-header h2{
    font-size: 11px;
    margin: 5px 0;
    color: #214f8e;  
  }
  .nl-field {
    position: relative;
  }

  .nl-header INPUT[type=email]{
      border: none;
      background: #ddd;
      padding: 0;
      margin: 0;
      width: 100%;
      height: 30px;
      box-sizing: border-box;
      padding-left: 10px;
  }

  .nl-header input[type=submit] {
      position: absolute;
      right: 2px;
      top: 2px;
      width: 30px;
      height: 26px;
      overflow: hidden;
      background: #214f8e;
      color: white;
      border: 0px solid #ddd;
  }
}